<div class="row">
  <h4><%= @exam.title %></h4>
  <hr>
  <div class="result"></div><!-- the final result -->
  <% @gevaarsvragen = 0 %>
  <% @restvragen = 0 %>
  <% @exam.questions.each do |question| %>
    <p><% question.id %></p>
    <% @submission.ann.each do |key, value| %>
      <% @key = key %>
      <% if question.id == key.to_i %>
      <% @correct_answer == @given_anwer %> <!-- result true/false -->
      <% @given_anwer = value %> <!-- given answer -->
      <% @correct = question.correct.to_i - 1 %>
      <% @correct_answer = question.answers[@correct] %> <!-- correct answer -->
      <% if question.timer == true %>
        <% if @correct_answer == @given_anwer %>
          <% @gevaarsvragen = @gevaarsvragen + 1 %>
        <% end %>
      <% else %>
        <% if @correct_answer == @given_anwer %>
          <% @restvragen = @restvragen + 1 %>
        <% end %>
      <% end %><!-- if question.timer == true -->

      <!-- showing only the wrong answers! -->
      <% if @correct_answer != @given_anwer %>
        <div class="col-xs-12 antworden">
          <p><strong>Vraag:</strong> <%= question.title %></p>
          <p><strong>Uw antwoord:</strong> <%= @given_anwer = value %></p> <!-- given answer -->
          <p><strong>Goede antwoord:</strong> <%= @correct_answer = question.answers[@correct] %></p> <!-- correct answer -->
        </div>
      <% end %>
      <!-- end showing only the wrong answers! -->

      <% end %><!-- if question.id == key -->
    <% end %><!-- submission.ann.each -->
  <% end %><!-- exam.questions.each -->

  <% @gevaarsvragen %> <% @exam.questions.where(timer: true).length %>
  <% @restvragen %> <% @exam.questions.where(timer: false).length %>
  <% if @gevaarsvragen > (@exam.questions.where(timer: true).length - 1) && @restvragen > (@exam.questions.where(timer: false).length - 2) %>
    <div class="congratulations">
      <p>Congratulations!</p>
    </div>
  <% else %>
    <div class="try_again">
      <p>Try again</p>
    </div>
  <% end %>
</div>
