// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fuelux";

.gefe {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.again {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.antworden {
  background: #d3d3d34f;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding-top: 20px;
}
