<!-- Take exam Form -->
  <div class="panel panel-primary">
    <div class="panel-heading">Make this exam</div>

    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
<!-- existent code... -->
