<%= form_for [@exam, @test]  do |f| %>

<% @questions.each do |question| %>
  <p><%= question.title %></p>
  
<% end %>

<br>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn  btn-primary " %>
<% end %>
